* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.not-main {
    width: 100%;
    display: block;
    background: #fff;
    padding-top: 40px;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* MAIN FLEX ROW */
.not-inner-main {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
}

/* CHILD WIDTHS */
.not-child {
    flex: 1;
    min-width: 48%;
}

/* FORM AREA */
.not-inner-child {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    gap: 12px;
}

/* INPUT FIELD */
.First-input {
    width: 100%;
    padding: 12px;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

/* TEXTAREA */
.second-input {
    width: 100%;
    padding: 12px;
    height: 120px;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    resize: none;
    margin: 20px 0px;
}

/* BUTTON */
.btn-click {
    width: 150px;
    padding: 10px 20px;
    background: black;
    color: #fff;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 15px;
}

.btn-click:hover {
    background: #333;
}

/* NOTES LIST SECTION */
.notes-list {
    padding: 20px 0;
}

h3 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
}

/* NOTE CARD */
.note-card {
    width: 100%;
    background: #fafafa;
    border: 1px solid #e2e2e2;
    padding: 18px;
    border-radius: 12px;
    margin-bottom: 20px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.08);
    transition: 0.3s ease;
    display: flex;
    justify-content: space-between;
}

.note-card:hover {
    transform: translateY(-3px);
    box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.15);
}

.note-card h4 {
    font-size: 18px;
    margin-bottom: 8px;
}

.note-card p {
    font-size: 15px;
    color: #555;
}


.btn-delete {
	background: red;
	color: white;
	border: none;
	padding: 5px 5px 3px 5px;
	border-radius: 5px;
    cursor: pointer;
}
.btn-delete:hover {
    background: darkred;
}
/* RESPONSIVE */
@media (max-width: 768px) {
    .not-inner-main {
        flex-direction: column;
    }

    .not-child {
        width: 100%;
    }
}